{
  "root": true,
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "airbnb"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "."
        ],
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  },
  "rules": {
    "comma-dangle": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "max-len": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "no-unused-vars": "off",
    "no-trailing-spaces": "off",
    "quote": "off",
    "import/order": "off",
    "semi": "off",
    "space-infix-ops": "off",
    "no-param-reassign": "off",
    "import/prefer-default-export": "off",
    "react/button-has-type": "off",
    "no-extra-semi": "off",
    "object-curly-spacing": "off",
    "quote-props": "off",
    "quotes": "off",
    "indent": "off",
    "arrow-parens": "off",
    "object-curly-newline": "off",
    "no-undef": "off",
    "padded-blocks": "off",
    "linebreak-style": "off",
    "prefer-const": "off",
    "no-multiple-empty-lines":  "off",
    "function-paren-newline": "off",
    "react/jsx-wrap-multilines": "off",
    "react/self-closing-comp": "off",
    "react/jsx-closing-tag-location": "off",
    "operator-linebreak": "off",
    "no-sequences": "off",
    "prefer-template": "off",
    "no-multi-spaces": "off",
    "comma-spacing": "off",
    "prefer-arrow-callback": "off",
    "space-before-function-paren": "off",
    "block-spacing": "off",
    "no-shadow": "off",
    "no-var": "off",
    "func-names": "off",
    "react/jsx-indent": "off",
    "arrow-body-style": "off"
  }
}